/* .profileUser-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
} */

.profileUser-container header {
  display: flex;
  align-items: center;
}

.profileUser-container header span {
  font-size: 20px;
  margin-left: 24px;
}

.profileUser-container header img {
  height: 64px;
}

.profileUser-container header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}
.fotos {
  position: relative;
}
.btnlixo {
  width: 32px;
  height: 32px;
  margin-top: 10px;
  position: absolute;
  border-radius: 5px 5px 5px 5px;
}
.btnlixo :hover {
  width: 34px;
  height: 34px;
}

.profileUser-container h1 {
  margin-top: 80px;
  margin-bottom: 24px;
}

.profileUser-container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  list-style: none;
}

.profileUser-container ul li {
  background: #f0f2f5;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}

.profileUser-container ul strong {
  display: block;
  margin-bottom: 16px;
  color: #41414d;
}

.profileUser-container ul p + strong {
  margin-top: 32px;
}

.profileUser-container ul li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}
